# Windows 桌面构建输出
/build/
/.idea/
/app/
/.kotlin/
/desktopApp/build/
*.class
bin/
gen/
out/

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
local.properties
workspace.json
tools/wix311-binaries.zip
tools/wix311/
desktopApp/browserHelper/bin/
desktopApp/browserHelper/obj/
desktopApp/browserHelper/publish/
desktopApp/browserHelper/publish-net48/
/debug.keystore
