# Android 构建输出
/build/
/.kotlin/
/app/build/
/desktopApp/build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.dex
*.class
bin/
gen/
out/

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
local.properties
debug.keystore
workspace.json
tools/wix311-binaries.zip
tools/wix311/
desktopApp/browserHelper/bin/
desktopApp/browserHelper/obj/
desktopApp/browserHelper/publish/
desktopApp/browserHelper/publish-net48/
